$rem: 2rem;
$pad: 10px;
$bo: 1px solid black;

.about, .team { 

padding: $pad;
text-align: center;
}

.team { 

padding: $pad;
img { 
height: 201px;
}
}

.team { 
.teamc { 
padding: 10px;

}


width: 100%;
}



.socicons li { 
list-style-type: none;
display: inline;
padding:$pad;

}


.teami { 
a, p { 
font-size: 160%;
}
a { 
padding: $pad / 2;
background: #5372FC;
color: white;
border-radius: 20px;
}

}

.customers img {
padding-top: $pad;

}

/*about*/
.aboutc { 
img { 
height: 255px;
float:left;
padding: $pad;
left: 10%;
position: relative;
top: 60px;
}

p { 
width: 40%;
text-align:left;
}

p, h1 { 
display: inline-block;
}
}

.about { 
width: 100%;
}

@media screen and (min-width:768px) { 
.teami {
display: inline-block;
width: 30%;
}
.customers img { 
width: 30%;
}
}

/* services section */
.contc { 



}

.contd { 
padding: $pad + 10;
}

.form { 
padding: $pad + 10;
input, textarea { 
display: block;
width: 90%;
}
button {
margin-top: 10px;
}


}

/* services */
body h1 { 
font-size: 2.0rem;

}

.servp { 

padding: $pad + 10;



/*
width:20%;
display:inline-block; */


}

.panelsc { 

.panel { 
h2 { 
font-size: 1.5rem;
}
}
h1, .panel div { 
text-align: center;

}

.panel div { 
border: 1px solid grey;
padding: $pad;
}

}


.nav-tabs { 
padding: 20px;

li { 
   
    position: relative;
    
}
}

.servd { 
display: none;
}

.actd { 
display: block;
animation-name: fade;
-webkit-animation-name: fade;

animation-name: fade;
animation-duration:2s;
}

@-webkit-keyframes fade {
    0%   {opacity: 0}
    25%  {opacity: 0.5}
    50%  {opacity: 0.6}
    75%  {opacity: 0.7}
    100% {opacity: 1}
}

/* Standard syntax */
@keyframes fade {
    0%   {opacity: 0}
    25%  {opacity: 0.5}
    50%  {opacity: 0.6}
    75%  {opacity: 0.7}
    100% {opacity: 1}
}

.ul { 
.fa { 
padding: 15px;
}

.nav-tabs { 
padding: 3px;
}
.nav { 
bottom: 0;
}

}

.servnav { 
left:0;
}

.servt { 
padding-top:20px;
}

